#results {
  text-align: center;

  h1 {
    color: #07d5fe;
    font-size: 4rem;
    font-weight: 100;
    margin: 2rem 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 200;
  }

  .profit-percentage {
    font-weight: 300;
  }

  .ads {
    background-color: gray;
    height: 98px;
    margin: 2rem auto;
    max-width: 728px;
  }

  .main-btn {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #304ffe;
    margin: 3rem 0.2rem;
    transition: all 0.2s ease-in-out;

    &.active {
      background: #304ffe;
    }

    &:hover {
      background: #304ffe;
    }
  }
}
